---
import Layout from '../layouts/Layout.astro';
import { PaperCard } from '../components/Card';
import { Search } from '../components/Search';

var data = [
	{
		title: 'Card 1',
		content: 'This is the first card.',
		link: 'woooo'
	},
	{
		title: 'Card 2',
		content: 'This is the second card.',
		link: 'woooo'
	},
	{
		title: 'Card 3',
		content: 'This is the third card.',
		link: 'woooo'
	},
	{
		title: 'Card 4',
		content: 'This is the fourth card.',
		link: 'woooo'
	}
]


const response = await fetch('https://randomuser.me/api/');
const data_fetch = await response.json();
const randomUser = data_fetch.results[0];
console.log(randomUser);
---

<Layout title="Welcome to Astro.">
	<main>
		<Search client:visible/>
		<div class="mx-8 my-4">
			<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
				<!-- <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
					<PaperCard title='Card 1' content='This is the first card.' link='woooo' client:visible />
				</li> -->
				<!-- forloop -->
				{data.map((iter) => 
					<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
						<PaperCard title={iter.title} content={iter.content} link={iter.link} client:visible />
					</li>
				)}
				<h1>User</h1>
				<h2>{randomUser.name.first} {randomUser.name.last}</h2>
			</ul>
		</div>
	</main>
</Layout>

<script>
	import { ClickButton } from "../store";
	
	ClickButton.subscribe((value) => {
		console.log(value);
	})
</script>